* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    height: 80px;
    background: #dcedff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw - 1300px) / 2);
}
nav a {
    text-decoration: none;
    color: #844ffe;
    padding: 0 1.5rem;
    font-weight: bold;
}

nav a:hover {
    color: #4b26a2;
}

.logo {
    color: #844ffe;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.box {
    background: #d1faff;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((110vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #844ffe;
    padding: 0 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#formdiv {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#form1 {
    display:block;
    width:100px;
}

#formdiv1 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#form2 {
    display:block;
    width:100px;
}

#formdiv2 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.submitbutton {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: #844ffe;
    color: #ffffff;
}

fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px ;
    border-radius: 6px;
    color: #844ffe;
}

legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: #844ffe;
}

label {
    display: block;
    margin-top: 1em;
}

label:first-of-type{
    margin-top: 0;
}

input {
    padding: .3em;
    border: solid 1px #999;
    width: 15em;
}