/*
*, *::before, *::after { box-sizing: inherit }

html {
    box-sizing: border-box;
}
#form {
    display:block;
    width:100px;
}

#formdiv {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#form2 {
    display:block;
    width:100px;
}

#formdiv2 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}