:root {
    --background-color: #80fcd4;
    --text-color: #8946d6;
    --primary-color: #4b26a2;
    --secondary-color: #9580ef;
    --secondary-color-hover: #6651c1;
    --accent-color: #8946d6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    color: var(--text-color);
}

html,
body {
    height: 100%;
}

/* #wrapper {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 100px;
} */

.logo {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

[class*="box"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    background: var(--background-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((110vw - 1300px) / 2);
}

.box-admin {
    background: var(--background-color);
}

[class^="column-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2rem;
    gap: 1rem;
}

[class$="row"] {
    flex-direction: row;
}

[class*="flex"] {
    display: flex;
}

.column-left h1 {
    font-size: 3rem;
}

.column-left p {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    text-align: start;
}

@media screen and (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr;
    }
}

.event-days {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.event-day {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;

    padding-bottom: 1rem;
    border-bottom: solid 0.1px;
}

.event-day:last-child {
    border-bottom: none;
}

.event-day .date {
    font-size: 2rem;
    text-align: start;
    min-width: 11rem;
}

.events {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.event:hover {
    /* smooth animate move to right and grow  */
    transform: translateX(1rem) scale(1);

    /* disable select */
    user-select: none;
}


.message {
    position: absolute;
    background: #d1faff;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--accent-color);
}

.warning {
    width: 200px;
    text-align: center;
}

/* Form */

#form {
    width: fit-content;
    color: var(--secondary-color);
}

.form-item {
    display: flex;
    flex-direction: column;
}
.form-item-row {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.submitbutton {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    padding: 1em;
    border: solid 1px;
    border-radius: 6px;
    color: var(--secondary-color);
}

legend {
    font-size: 1.25em;
    padding: 0 0.25em;
}

input {
    padding: 0.3em;
    border: solid 1px #999;
    width: 15em;
}


/* Popup */

.popup {
    display: none;
    /* Keep it hidden initially */
    position: fixed;
    flex-direction: column;
    justify-content: start;
    z-index: 1;
    left: 0;
    bottom: 0;
    /* Adjust if needed */
    width: 90vw;
    height: 90vh;
    margin-top: 10vh;
    margin-left: 5vw;
    background-color: white;
    transform: translateY(100%);

    /* Start off-screen */
}

.popup.show {
    display: flex;
    /* Show the popup */
    animation: slideUp 0.5s ease-out forwards;
    /* Apply the animation */
}

.popup-head {
    width: 100%;
    height: 60%;

    background-size: cover;

    position: relative;
}

.popup img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    left: 0;

    image-rendering: smooth;
}

.popup-head .event-naam {
    margin-bottom: 20px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50px;

    font-size: 38px;
}

.popup-content {
    padding: 20px;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.close {
    color: #aab;
    float: right;
    font-size: 28px;
    font-weight: bold;

    position: absolute;
    top: 30px;
    right: 50px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: var(--accent-color);
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        /* Start from below the screen */
    }

    to {
        transform: translateY(0);
        /* Move to its final position */
    }
}

/* Navbar */

nav {
  background-color: var(--primary-color);

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0 1.5rem;
  font-weight: bold;
}

nav a:hover {
  color: var(--secondary-color-hover);
}

.logo {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

/* Footer */

#footer {
  background-color: var(--primary-color);
  height: 100px;
  width: 100%;
  padding: 30px;
}

.footernav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footernav ul li a {
  color: var(--secondary-color);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

/* tabs */

.tablinkbar {
  overflow: hidden;
  border-radius: 5px;
}

.tablinkbar button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  background-color: var(--secondary-color);
}

.tablinkbar button:nth-child(2) {
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

.tablinkbar button:hover {
  background-color: var(--primary-color);
}

.tablinkbar button.active {
  background-color: var(--primary-color);
}

.tabcontent {
  display: none;
  padding: 6px 12px;

  width: 100%;

  justify-content: center;
  align-items: center;
}